
<div class="col-md-5 form-group align">
    <fieldset class="the-fieldset">
        <legend align="center" class="the-legend"><h3>FORGOT PASSWORD</h3></legend>
        <form #myform="ngForm" (ngSubmit)="reset(email.value,newpassword.value)">
            <div class="form-group">
              <label for="email">Email</label>
              <input ngModel placeholder="Email eg. abc@xyz.com" id="email" type="text" class="form-control" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel">
          </div>
          
          <div class="form-group">
          <label for="newpassword">New Password</label>
          <input placeholder="Password 8-12 characters" ngModel id="newpassword" type="newpassword" class="form-control" name="newpassword" required minlength="8" maxlength="12" #newpassword="ngModel">
          </div>
          
          <button type="submit" class="btn btn-primary" [disabled]="!myform.valid">Request Reset</button>
          
          </form>
    </fieldset>
</div>
