<div *ngIf="pageSpecificEsns.length > 0">
  <div style="margin: 0px 40px">
    <div class="row user-grid-form">
      <div class="col-xl-3">
          <label for="">Show </label>
          <select style="display:inline" class="form-control col-xl-2" name="pageSize" id="pageSize" 
            [(ngModel)]="selectedPageSize" (change)="changePageSize()">
              <option 
                *ngFor="let pageSize of pageSizes" 
                [ngValue]="pageSize"          
                >{{pageSize}}
              </option>
          </select>
          <label for=""> entries</label>
      </div>
      <div class="offset-xl-6 col-xl-3">
        <input type="text"
          class="form-control"
          placeholder="Search User here.."
          [(ngModel)]="searchUserText"
          (keyup)="searchUser($event.target.value)"
        >
      </div>
    </div>  
    <div class="row" *ngIf="!noEsnInfo">
      <div class="col-xl-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Store</th>
              <th>SKU</th>
              <th>ESN_18</th>
              <th>ESN_HEX_14</th>
              <th>IMEI_15</th>
              <th>Device</th>
              <th *ngIf="isAdminMode">Claimed By</th>
              <th>Claimed Date</th> 
              <th *ngIf="isAdminMode">Is Imported</th>
              <th *ngIf="isAdminMode">Date Imported</th>
              <th>Is Consumed</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let esn of currentPageEsns">
              <td>{{ esn.storeId }}</td>
              <td>{{ esn.sku }}</td>
              <td>{{ esn.esn18 }}</td>
              <td>{{ esn.esnHEX14 }}</td>
              <td>{{ esn.imei15 }}</td>
              <td>{{ esn.device }}</td>
              <td *ngIf="isAdminMode"><input type="checkbox" [checked]="esn.userClaimed"></td>
              <td>{{ esn.dateClaimed }}</td>
              <td *ngIf="isAdminMode"><input type="checkbox" [checked]="esn.isImported"></td>
              <td *ngIf="isAdminMode">{{ esn.dateImported }}</td>
              <td><input type="checkbox" [checked]="esn.isConsumed"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">Showing {{currentPageEsns.length}} of {{esns.length}} entries</div>
      <div class="col-lg-6">
        <div class="float-right">
          <app-pagination [pageSpecificData]="pageSpecificEsns"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="noEsnInfo">
  <div class="offset-xl-4">
      <h2>No esns found..</h2>
  </div>
</div>
